In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from pprint import pprint
import pandas as pd
import numpy as np
import requests
import time
import json
from API_KEY import API_KEY

In [ ]:
brewfile = "nybrews_4api_file2.csv"
newbrew_df = pd.read_csv(brewfile)
newbrew_df.head()

In [3]:
newbrew_df = newbrew_df.drop(['index2', 'api_address'], axis=1)
newbrew_df.head()

,brewery_name,address,city,state,zip_code
0,Typhoon Brewery,22 E. 54th St. (@ Madison),New York,NY,10022
1,The Riverosa Company,101 W. 75th St. Suite 5B,New York,NY,10023
2,Spring Street Brewing Company,113 University Place - 11th Floor,New York,NY,10003
3,Rheingold Brewing Company,130 West 42nd St.,New York,NY,10036
4,Premier Beverages LLC,590 Madison Ave. 21st Fl.,New York,NY,10022

In [4]:
import pandas as pd
import numpy as np
import googlemaps
import gmaps
# Import API key
from API_KEY import API_KEY

In [5]:
# API_KEY = 'INSERT_MAPS_API_KEY_HERE'
gmaps = googlemaps.Client(key=API_KEY)

In [6]:
def get_coordinates(address):
    city = 'New York, US'
    geocode_result = gmaps.geocode(str(address) +' '+ city)
    if len(geocode_result) > 0:
        return list(geocode_result[0]['geometry']['location'].values())
    else:
        return [np.NaN, np.NaN]

In [7]:
coordinates = newbrew_df['address'].apply(lambda x: pd.Series(get_coordinates(x), index=['LATITUDE', 'LONGITUDE']))
newbrew_df5 = pd.concat([newbrew_df[:], coordinates[:]], axis="columns")

In [8]:
newbrew_df5

,brewery_name,address,city,state,zip_code,LATITUDE,LONGITUDE
0,Typhoon Brewery,22 E. 54th St. (@ Madison),New York,NY,10022,40.760342,-73.974326
1,The Riverosa Company,101 W. 75th St. Suite 5B,New York,NY,10023,40.779579,-73.977562
2,Spring Street Brewing Company,113 University Place - 11th Floor,New York,NY,10003,40.734271,-73.992162
3,Rheingold Brewing Company,130 West 42nd St.,New York,NY,10036,40.755123,-73.985463
4,Premier Beverages LLC,590 Madison Ave. 21st Fl.,New York,NY,10022,40.762110,-73.973069
5,New Amsterdam Brewing Co.,257 Park Ave. S.,New York,NY,10010,40.738623,-73.987135
6,Neptune Brewery,448 W. 16th St.,New York,NY,10011,40.742893,-74.006416
7,Nacho Mama's Brewery,42-42 Thompson St.,New York,NY,10013,40.723304,-74.003707
8,Manhattan Brewing Co. Restaurant,40-42 Thompson St.,New York,NY,10013,40.723278,-74.003745
9,John Street Bar & Grill,17 John St.,New York,NY,10038,40.709970,-74.008741
10,Heartland Brewery,35 Union Square West,New York,NY,10003,40.736890,-73.990792
11,Harlem Brewing Co.,2214 Frederick Douglas Blvd. Ste.286,New York,NY,10026,40.806607,-73.953556
12,Hansens Times Square Brewery,160 W. 42nd St.,New York,NY,10036,40.755584,-73.986483
13,Commonwealth Brewing Co.,10 Rockefeller Plaza (@48th St.),New York,NY,10020,40.758046,-73.979444
14,Chelsea Brewing Co.,59 Chelsea Piers,New York,NY,10011,40.745682,-74.008722
15,Carnegie Hill Brewing Co.,1600 3rd Ave. (@ 90th St.),New York,NY,10028,40.781370,-73.952445
16,Adirondack Pub & Brewery,212 W. 79th St.,New York,NY,10024,40.783210,-73.979158

In [10]:
from postgreslogin import postgres_key

MyPostLogin = postgres_key
rds_connection_string = MyPostLogin
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
newbrew_df5
newbrew_df5.to_sql(name='ny_brews2', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from ny_brews2', con=engine).head()

,brewery_name,address,city,state,zip_code,LATITUDE,LONGITUDE
0,Typhoon Brewery,22 E. 54th St. (@ Madison),New York,NY,10022,40.760342,-73.974326
1,The Riverosa Company,101 W. 75th St. Suite 5B,New York,NY,10023,40.779579,-73.977562
2,Spring Street Brewing Company,113 University Place - 11th Floor,New York,NY,10003,40.734271,-73.992162
3,Rheingold Brewing Company,130 West 42nd St.,New York,NY,10036,40.755123,-73.985463
4,Premier Beverages LLC,590 Madison Ave. 21st Fl.,New York,NY,10022,40.762110,-73.973069

In [12]:
'''##############################################################################################################'''

'##############################################################################################################'

In [13]:
""" Air BnB Information """

' Air BnB Information '

In [14]:
csv_file = "Resources/AB_NYC_2019.csv"
AB_NYC_2019_data_df = pd.read_csv(csv_file)
AB_NYC_2019_data_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [15]:
AB_NYC_2019_data_df = AB_NYC_2019_data_df.drop(['last_review', 'reviews_per_month', 'number_of_reviews', 'calculated_host_listings_count', 'neighbourhood', 'neighbourhood_group'], axis=1)
AB_NYC_2019_data_df.head()

,id,name,host_id,host_name,latitude,longitude,room_type,price,minimum_nights,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
1,2595,Skylit Midtown Castle,2845,Jennifer,40.75362,-73.98377,Entire home/apt,225,1,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,40.80902,-73.94190,Private room,150,3,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,40.68514,-73.95976,Entire home/apt,89,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,40.79851,-73.94399,Entire home/apt,80,10,0

In [16]:
AB_NYC_2019_data_df.to_csv('nyabnb.csv')

In [17]:
from postgreslogin import postgres_key

MyPostLogin = postgres_key
rds_connection_string = MyPostLogin
engine = create_engine(f'postgresql://{rds_connection_string}')

In [18]:
AB_NYC_2019_data_df.to_sql(name='ny_abnb', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from ny_abnb', con=engine).head()

,id,name,host_id,host_name,latitude,longitude,room_type,price,minimum_nights,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
1,2595,Skylit Midtown Castle,2845,Jennifer,40.75362,-73.98377,Entire home/apt,225,1,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,40.80902,-73.94190,Private room,150,3,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,40.68514,-73.95976,Entire home/apt,89,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,40.79851,-73.94399,Entire home/apt,80,10,0

In [19]:

'''##############################################################################################################'''

'##############################################################################################################'

In [20]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Numeric, Float, func

In [21]:
MyPostLogin = postgres_key
rds_connection_string = MyPostLogin
engine = create_engine(f'postgresql://{rds_connection_string}')
session = Session(engine)

In [22]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [23]:
inspector = inspect(engine)
inspector.get_table_names()

['ny_breweries', 'ny_brews2', 'ny_abnb']

In [24]:
columns = inspector.get_columns('ny_brews2')
for c in columns:
    print(c['name'], c["type"])

brewery_name TEXT
address TEXT
city TEXT
state TEXT
zip_code BIGINT
LATITUDE DOUBLE PRECISION
LONGITUDE DOUBLE PRECISION

In [25]:
columns = inspector.get_columns('ny_abnb')
for c in columns:
    print(c['name'], c["type"])

id BIGINT
name TEXT
host_id BIGINT
host_name TEXT
latitude DOUBLE PRECISION
longitude DOUBLE PRECISION
room_type TEXT
price BIGINT
minimum_nights BIGINT
availability_365 BIGINT

In [26]:
## test code not working

# class Breweries(Base):
#     __tablename__ = 'ny_brews2'
#     brewery_name  = Column(String(255), primary_key=True)
#     address  = Column(String(255))
#     city  = Column(String(255))
#     state  = Column(String(255))
#     zip_code   = Column(Integer)
#     LATITUDE   = Column(Numeric)
#     LONGITUDE   = Column(Numeric)

In [27]:
'''##############################################################################################################'''

'##############################################################################################################'

In [28]:
'''##########  perform a cross join of the brewery and airbnb tables to create new DataFrame ############'''

'##########  perform a cross join of the brewery and airbnb tables to create new DataFrame ############'

In [39]:
crossjoin_df = pd.read_sql_query('SELECT * FROM ny_brews2 CROSS JOIN ny_abnb', con=engine)

In [40]:
crossjoin_df

,brewery_name,address,city,state,zip_code,LATITUDE,LONGITUDE,id,name,host_id,host_name,latitude,longitude,room_type,price,minimum_nights,availability_365
0,Typhoon Brewery,22 E. 54th St. (@ Madison),New York,NY,10022,40.760342,-73.974326,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
1,The Riverosa Company,101 W. 75th St. Suite 5B,New York,NY,10023,40.779579,-73.977562,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
2,Spring Street Brewing Company,113 University Place - 11th Floor,New York,NY,10003,40.734271,-73.992162,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
3,Rheingold Brewing Company,130 West 42nd St.,New York,NY,10036,40.755123,-73.985463,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
4,Premier Beverages LLC,590 Madison Ave. 21st Fl.,New York,NY,10022,40.762110,-73.973069,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831210,Hansens Times Square Brewery,160 W. 42nd St.,New York,NY,10036,40.755584,-73.986483,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,40.76404,-73.98933,Private room,90,7,23
831211,Commonwealth Brewing Co.,10 Rockefeller Plaza (@48th St.),New York,NY,10020,40.758046,-73.979444,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,40.76404,-73.98933,Private room,90,7,23
831212,Chelsea Brewing Co.,59 Chelsea Piers,New York,NY,10011,40.745682,-74.008722,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,40.76404,-73.98933,Private room,90,7,23
831213,Carnegie Hill Brewing Co.,1600 3rd Ave. (@ 90th St.),New York,NY,10028,40.781370,-73.952445,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,40.76404,-73.98933,Private room,90,7,23
831214,Adirondack Pub & Brewery,212 W. 79th St.,New York,NY,10024,40.783210,-73.979158,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,40.76404,-73.98933,Private room,90,7,23

In [31]:
crossjoin_df = crossjoin_df.rename(columns={'LATITUDE':'lat1','LONGITUDE':'lon1'})

# rankings_pd.rename(columns = {'test':'TEST', 'odi':'ODI', 't20':'T20'}, inplace = True)

In [32]:
crossjoin_df = crossjoin_df.rename(columns={'latitude':'lat2','longitude':'lon2'})

In [38]:
crossjoin_df

,brewery_name,address,city,state,zip_code,lat1,lon1,id,name,host_id,host_name,lat2,lon2,room_type,price,minimum_nights,availability_365
0,Typhoon Brewery,22 E. 54th St. (@ Madison),New York,NY,10022,40.760342,-73.974326,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
1,The Riverosa Company,101 W. 75th St. Suite 5B,New York,NY,10023,40.779579,-73.977562,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
2,Spring Street Brewing Company,113 University Place - 11th Floor,New York,NY,10003,40.734271,-73.992162,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
3,Rheingold Brewing Company,130 West 42nd St.,New York,NY,10036,40.755123,-73.985463,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365
4,Premier Beverages LLC,590 Madison Ave. 21st Fl.,New York,NY,10022,40.762110,-73.973069,2539,Clean & quiet apt home by the park,2787,John,40.64749,-73.97237,Private room,149,1,365

In [34]:
'''##############################################################################################################'''

'##############################################################################################################'

In [35]:
'''################ code to use to get distance between the 16 breweries and the AirBnB's ###############'''

"################ code to use to get distance between the 16 breweries and the AirBnB's ###############"

In [36]:
from math import radians, cos, sin, asin, sqrt 

def distance(lat1, lat2, lon1, lon2): 
      
    # The math module contains a function named 
    # radians which converts from degrees to radians. 
    lon1 = radians(lon1) 
    lon2 = radians(lon2) 
    lat1 = radians(lat1) 
    lat2 = radians(lat2) 
       
    # Haversine formula  
    dlon = lon2 - lon1  
    dlat = lat2 - lat1 
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
  
    c = 2 * asin(sqrt(a))  
     
    # Radius of earth in kilometers is 6371. Use 3956 for miles. Use 20908800 for feet. Use 6969600 for yards.
    r = 3956
       
    # calculate the result 
    return(c * r) 
      
      
# driver code  
lat1 = 53.32055555555556
lat2 = 53.31861111111111
lon1 = -1.7297222222222221
lon2 =  -1.6997222222222223
print(distance(lat1, lat2, lon1, lon2), "Miles")

1.2445894158220852 Miles

In [ ]:
'''##############################################################################################################'''